@import '../../style.scss';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;

    @include mobile{
        width: 100vw;
    }    
    .left{
        display: flex;
        align-items: center;
        gap: 25px;
        span{
            font-weight: 500;
            color: darkblue;
            font-size: 20px;
        }
        .search{
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            border-radius: 5px;
            gap: 10px;
            padding: 5px;
            input{
                width: 500px;
                border: none;
                @include mobile{
                    display: none;
                }
            }
            
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        @include mobile{
            display: none;
        }
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                height: 30px;
                border-radius: 50%;
                width: 30px;
                object-fit: cover;
            }
        }
    }
}